/*Fondo principal*/
header {
    background-color: #32CD32;
}

.main-header__title{
    text-align: center;
    text-size-adjust: 25px;
}

/*menu de paginas*/
.navbar {
    background-color: #333;
    overflow: hidden;
}

.btn-menu {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-menu:hover {
    background-color: #555;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; /* Escondemos el menú por defecto */
}

.main-nav li {
    background-color: #333;
    padding: 8px;
    text-align: center;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    display: block;
}

.main-nav li a:hover {
    background-color: #575757;
}

.main-nav.show {
    display: block; /* Mostramos el menú cuando tiene la clase 'show' */
}

/*letras arriba*/

.main-header__container{
    display: flex;
    display: flex; /* Usamos Flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
}
.main-header__btn{
    border: 1px solid #000; /* Borde de 2 píxeles, sólido y negro */
    padding: 10px; /* Espacio entre el texto y el borde */
    display: inline-block; /* Asegura que el recuadro se ajuste al texto */
    text-align: left;
}
